@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@400;600;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  color: #DBEDF3;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.2 !important;
}

.content {
  min-height: calc(100vh - 64px);
}

.icon-btn {
  @apply absolute  z-20 w-[32px] h-[32px] flex justify-center items-center bg-bgDarkBtn hover:bg-mainDark rounded-md transition-colors duration-700
}
