@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@400;600;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  color: #dbedf3;
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #a88cc285;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #570d85;
    border-radius: 5px;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.2 !important;
}

.content {
  height: calc(100vh - 64px);
}

.main {
  @apply bg-secondaryDark px-5 pb-10 pt-[104px] smm:pl-[230px] md:pl-[270px] lg:pl-[320px];
}

.icon-btn {
  @apply absolute z-20 flex h-[32px] w-[32px] items-center justify-center rounded-md bg-bgDarkBtn transition-colors duration-700 hover:bg-mainDark;
}

.sidebar-link {
  @apply flex w-full items-center justify-between  overflow-hidden rounded-lg px-4 text-lg transition-colors duration-300 hover:text-textHover;
}

.cart-wrapper {
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #a88cc285;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #570d85;
    border-radius: 10px;
  }
}
