@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@400;600;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  color: #dbedf3;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.2 !important;
}

.content {
  height: calc(100vh - 64px);
}

.icon-btn {
  @apply absolute  z-20 flex h-[32px] w-[32px] items-center justify-center rounded-md bg-bgDarkBtn transition-colors duration-700 hover:bg-mainDark;
}
